{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f5f5f5;">
  <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px; background-color: #fff;">
    <div class="auth__header text-center mb-4">
      <h3>Account's Password</h3>
    </div>
    
    <form action="" method="POST" class="form auth__form" enctype="multipart/form-data">
      {% csrf_token %}
      
      <!-- Input: Email -->
      <div class="mb-3">
        <label for="password1" class="form-label">Password:</label>
        <input class="form-control" id="password1" type="password" name="password1" placeholder="{% trans 'Enter your password' %}" required />
      </div>
      
      <!-- Confirmation Password -->
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password:</label>
        <input class="form-control" id="password2" type="password" name="password2" placeholder="{% trans 'Confirm your password' %}" required />
      </div>

      <div class="auth__actions">
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
